<h2>Eventos</h2>
<hr>

<form action="" class="form inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Capacidade</th>
      <th>Lote</th>
      <th>
      <button type="button" class="btn btn-light btn-outline btn-sm" (click)="mostrarImagem = !mostrarImagem">
        Imagens
      </button>
      </th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody> @if (eventos && eventos.length) {
  @for (evento of eventos; track evento.id) {
    <tr>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento }}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td> 
        <img 
          [src]="'assets/images/' + evento.imagemURL"
          alt="{{evento.tema}}"
          width="60"
          margin = "2px"
        }>
      </td>
      <td>
        <button class="btn btn-primary btn-sm me-2">Editar</button>
        <button class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  }
}
</tbody>
<tfoot> @if (!eventos && eventos.length) {
  <tr>
    <td colspan="8" class="text-center">
      <h4>Nenhum evento encontrado.</h4>
    </td>
  </tr>
}
</tfoot>
