<h2>Eventos</h2>
<hr>

<div class="form inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2"placeholder="buscar"
    name="filtroLista"
    [(ngModel)]="filtroLista">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="table-dark">
    <tr class="text-center">
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Capacidade</th>
      <th>Lote</th>
      <th>
      <button type="button" class="btn btn-dark btn-outline btn-sm" (click)="alterarImagem()">
        Mostrar Imagem
      </button>
      </th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody class="text-center"> @if (eventos && eventos.length) {
  @for (evento of eventosFiltrados; track evento.eventoId) {
    <tr>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento }}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td> 
        @if (mostrarImagem) {
        <img
         [collapse]="!mostrarImagem"
          [isAnimated]="true"
          [src]="'assets/images/' + evento.imagemURL"
          alt="{{evento.tema}}"
          width="100px"
          margin = "2px"
        >}
      </td>
      <td>
        <button class="btn btn-primary btn-sm me-2">Editar</button>
        <button class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  }
}
</tbody>
<tfoot> @if (!eventosFiltrados && eventosFiltrados.length === 0) {
  <tr>
    <td colspan="8" class="text-center">
      <h4>Nenhum evento encontrado.</h4>
    </td>
  </tr>
}
</tfoot>
